<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}">Document</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="header__title">Surviving Coding Boot Camp</h1>
            <nav class="header__nav">
                <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
                <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
            </nav>
        </header>
        <main class="main-content">
            <section class="main-content__post post">
                <h3 class="post__topic-title main-content__topic-title"><a th:text="${post.topic.name}" th:href="'/topics/'+${post.topic.id}" class="main-content__topic-link post__topic-link">Topic</a>
                    </h3>
                <h2 th:text="${post.title}" class="post__title main-content__topic-title">Post Title</h2>
                <p th:text="${post.content}" class="post__content"></p>
               <p th:text=" 'Author: ' +${post.author}" class="post__content"></p>
                <br>

                <ul class="HashtagsList">
                    <li th:each="hashtag: ${post.hashtags}"><a th:text="${hashtag.hashtag}" th:href="'/hashtags/'+${hashtag.id}"></a></li>
                </ul>
                <br>
            </section>
            <form class="HashtagForm" th:action="'/SubmitHashtag'" method="POST">
                <div class="AddHashtag">
                    <label >Add Hashtag: </label>
                    <input name = "hashtag" type="text">
                    <input name = "id" type="hidden" th:value="${post.id}">
                </div>
                <div class="SubmitButton">
                    <button type="submit">Submit Hashtag</button>
                </div>
            </form>
        </main>
    </div>

</body>

</html>